.pan-head{
  position: absolute;
  top: -50px;
  left: 10px;
  display: flex;
  flex-direction: row;
  gap: 1400px;
}

.show-more{
  border: 1px solid #ddd;
  height: 40px;
  WIDTH: 100px;
  font-size: 13px;
  margin-left: 20px;
  align-content: center;
  padding: 5px 10px;
  cursor: pointer;
}

.pash{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 20px;

}

.tp{
  border: 1px solid #ddd;
  height: 40px;
  WIDTH: 100px;
  font-size: 13px;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
}

